html{
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #004056;
  background: linear-gradient(#004056, #74ceb7);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 100;
}

h3 {
  font-weight: 700;
}

#app {
  text-align: center;
  padding-top: 2em;
  flex-grow: 1;
}

.button {
  color: #fff;
  background-color: #d07500;
  padding: 1.2em 2em;
  font-size: 1.1em;
  border-radius: 0.7em;
  border: none;
  box-shadow: 0 0.25em #714000;
}

.button:hover {
  background-color: #ff8f00;
}

.button:active {
  background-color: #ff8f00;
  box-shadow: 0 0.2em #714000;
  transform: translateY(0.1em);
}

.button:focus {
  outline: none;
}

.buttonDisable, .buttonDisable:hover {
  color: #a7a7a7;
  background-color: #8e8e8e;
  box-shadow: 0 0.25em #505050;
}


#guess {
  padding: 1.2em 2em;
  border-radius: 0.7em;
  margin: 1.3em;
  font-size: 1.1em;
  border: 0;
}

#guess:hover {
  box-shadow: 0 0.15em #ff8f00;
}

#guess:focus {
  outline: none;
  box-shadow: 0 0.15em #ff8f00;
}

#inputs {
  padding: 1.2em;
}

#guesses ul {
  list-style: none;
  padding: 2em;
}

#guesses li {
  display: inline;
  font-size: 2em;
  padding: 1.5em;
}

#menu-btns input[type=button] {
  margin: 0 0.7em;
}

#footer {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.left {
  margin-left: 1em;
}

.right {
  margin-right: 1em;
}

.right img {
  height: 50px;
}

/*@media (max-width: 500px) {
  body {
  
  }
} */